.rating {
    direction: ltr;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: #f39c12;
}

.feedback-form-container {
    background-color: #f8f9fa;
}

.customer-feedback-container {
    background-color: #e3f2fd;
    max-height: 460px;
    overflow-y: auto;
}

.feedback-item {
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feedback-item strong {
    font-size: 1.1rem;
}

.feedback-item span {
    color: #f39c12;
}

/* Hide the secret key input by default */
.secret-key-input {
    display: none;
}